/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import '~bootstrap/dist/css/bootstrap.min.css';
/* @import '~font-awesome/css/font-awesome.css'; */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

/* BASIC */


/* *{
  color:white;
} */

.customer-profile{
    /* margin-top:50px; */
    background: url('/assets/img/online-shopping.gif') no-repeat ;
    /* background-size:1400px 900px; */
    /* background-position:left top; */
    background-size: cover;
}
.owner-profile{
  /* margin-top:50px; */
  background: url('/assets/img/12.jpg') no-repeat ;
  /* background-size:1400px 900px; */
  /* background-position:left top; */
  background-size: cover;

}

body {
  /* background-color: #56baed; */
  font-family: "Poppins", sans-serif;
  height: 100vh;
  /* background-image: url('http://wallpapersafari.com/download/qxHlTK/'); */
  background-image: url('/assets/img/1hind.png');

  background-size: cover;
  /* width: 100%;
  height: 100%; */
}



/* OTHERS */

*:focus {
    outline: none;
} 

* {
  box-sizing: border-box;
}

