<div class="alert alert-danger" *ngIf="serverError">
  {{serverError}}
</div>
<div class="alert alert-success" *ngIf="successMsg">
  {{successMsg}}
</div>


<div *ngIf="ProductList.length==0" class="alert alert-info text-center" role="alert">
    <strong>No Products Added</strong>
  </div>


  <div class="row">
    <div *ngFor="let product of ProductList" class="card col-4">
      <img class="card-img-top" src="{{'http://localhost:3000/'+product.mainImg}}" alt="">
      <div class="card-body">
        <p class="card-text">Product name: {{product.name}}</p>
        <p class="card-text">Product Description: {{product.desc}}</p>
        <p class="card-text">Product price: {{product.price}}</p>
  
      </div>
  
      <div class="card-footer">
          <button type="button" (click)="addToCart(product)" class="add-to-cart">Add to Cart</button>
          <button type="button" (click)="wishList(product)" class="add-to-cart">Add To My WishList</button>
      </div>
    </div>
  </div>
  <div style="text-align:center">  
  <button *ngIf="show" type="button" (click)="lodemore()" class="btn btn-outline-info" >load More</button>
  </div>