

  <div *ngIf="serverError" class="alert alert-danger" role="alert">
      <strong>{{serverError}}</strong>
    </div>
<div *ngIf="ProductList.length==0" class="alert alert-info text-center" role="alert">
    <strong>No Products Added</strong>
  </div>


  <div class="row">
    <div *ngFor="let product of ProductList" class="card col-4">
      <img class="card-img-top" src="{{'http://localhost:3000/'+product.mainImg}}" alt="">
      <div class="card-body">
        <p class="card-text">Product name: {{product.name}}</p>
        <p class="card-text">Product Description: {{product.desc}}</p>
        <p class="card-text">Product price: {{product.price}}</p>
  
      </div>
      <div class="card-footer">
        <a class="add-to-cart" href="/add-to-cart/{{this._id}}">Add to cart</a>
        <a class="add-to-cart" href="/add-to-cart/{{this._id}}">wishlist cart</a>


      </div>
    </div>
  </div>